<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách khóa học</title>
</head>
<body>
<h1>Danh sách khóa học</h1>
<form th:action="@{/courses}" method="get">
    <input type="text" name="keyword" placeholder="Tìm kiếm..." th:value="${keyword}">
    <button type="submit">Tìm</button>
</form>

<a th:href="@{/courses/create}">Thêm mới</a>

<table border="1">
    <tr>
        <th>STT</th>
        <th>CourseName</th>
        <th>Instructor</th>
        <th>Duration</th>
        <th>Thumbnail</th>
        <th>Hành động</th>
    </tr>

    <tr th:if="${#lists.isEmpty(courses)}">
        <td colspan="6">Chưa có khóa học nào trong hệ thống.</td>
    </tr>

    <tr th:each="c, stat : ${courses}">
        <td th:text="${stat.count}"></td>
        <td th:text="${c.courseName}"></td>
        <td th:text="${c.instructor}"></td>
        <td th:text="${c.duration}"></td>
        <td th:text="${c.thumbnail}"></td>
        <td></td>
    </tr>
</table>

</body>
</html>